.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.loginInputIcons md-input-container.md-input-invalid > md-icon.email,
.loginInputIcons md-input-container.md-input-invalid > md-icon.password {
    color: red;
}
.errorMsg{
    color:red;
    text-align: center;
}
.successMsg{
    color:green;
}
.registerMsg{
    color:green;
    text-align: center;
}
.course-autocomplete-template li{
}

.course-autocomplete-template li:last-child {
    border-bottom-width: 0;
}

.course-autocomplete-template .item-metadata {
    color: #808080;
}