<div  ng-controller="GradeCtrl">
    <md-card flex>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Grades</h2>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" data-ng-show="addingGrade"></md-progress-linear>

        <md-card-content layout-margin>

            <!-- Course -->
            <md-autocomplete flex required
                             md-no-cache="1"
                             md-input-minlength="2"
                             md-selected-item="course.selectedItem"
                             md-search-text="course.searchText"
                             md-items="courseitem in course.searchCourse(course.searchText)"
                             md-item-text="courseitem.name"
                             md-floating-label="Select Course"
                             ng-disabled="addingGrade"
                             md-menu-class="course-autocomplete-template">
                <md-item-template>
                    <span md-highlight-text="course.searchText">{{courseitem.name}}</span>
                    <span class="item-metadata">({{courseitem.year}} {{(courseitem.semester==1)?'Summer':'Winter'}})</span>
                </md-item-template>
            </md-autocomplete>


            <!-- Grades -->
            <b>Grading stats</b>
            <md-content layout="row" layout-wrap>
                <div flex="33" ng-repeat="grade in grades">
                    <md-input-container flex>
                        <label>{{grade.display}}</label>
                        <input ng-model="grade.value" ng-disabled="addingGrade">
                    </md-input-container>
                </div>
            </md-content>

            <!-- Action -->
            <div class="md-actions" layout="row" flex>
                <p flex layout-align="left" class="errorMsg">{{message.error}}</p>
                <p flex layout-align="left" class="successMsg">{{message.success}}</p>
                <md-button ng-click="addGrades()">Add Grades</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>