<div  ng-controller="CourseCtrl">
    <md-card flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Course</h2>
            </div>
        </md-toolbar>

        <md-progress-linear md-mode="indeterminate" data-ng-show="addingCourse"></md-progress-linear>

        <md-card-content layout-margin>

            <!-- name -->
            <md-autocomplete flex required
                             md-no-cache="1"
                             md-input-minlength="2"
                             md-selected-item="course.selectedItem"
                             md-search-text="course.searchText"
                             md-items="courseitem in course.searchCourse(course.searchText)"
                             md-item-text="courseitem.name"
                             md-floating-label="Course name"
                             ng-disabled="addingCourse">
                <md-item-template>
                    <span md-highlight-text="course.searchText">{{courseitem.name}}</span>
                </md-item-template>
            </md-autocomplete>

            <md-content layout-margin layout="row">

                <!-- year -->
                <md-content layout-margin flex>
                    <label>Year</label>
                    <md-select ng-model="course.year.selected" flex>
                        <md-option ng-repeat="year in course.year.options" ng-value="{{year}}">{{year}}</md-option>
                    </md-select>
                </md-content>

                <!-- Sem -->
                <md-content layout-margin flex>
                    <label>Semester</label>
                    <md-select ng-model="course.sem.selected" flex>
                        <md-option ng-repeat="sem in course.sem.options" ng-value="{{sem.value}}">{{sem.name}}</md-option>
                    </md-select>
                </md-content>
            </md-content>

            <!-- Teacher -->
            <md-autocomplete flex required
                             md-no-cache="1"
                             md-input-minlength="2"
                             md-selected-item="teacher.selectedItem"
                             md-search-text="teacher.searchText"
                             md-items="teacheritem in teacher.searchTeacher(teacher.searchText)"
                             md-item-text="teacheritem.name"
                             md-floating-label="Select the Professor"
                             ng-disabled="addingCourse">
                <md-item-template>
                    <span md-highlight-text="teacher.searchText">{{teacheritem.name}}</span>
                </md-item-template>
            </md-autocomplete>

            <!-- Action -->
            <div class="md-actions" layout="row" flex>
                <p flex layout-align="left" class="errorMsg">{{message.error}}</p>
                <p flex layout-align="left" class="successMsg">{{message.success}}</p>
                <md-button ng-click="addCourse()">Add Course</md-button>
            </div>

        </md-card-content>
    </md-card>
</div>