<div  ng-controller="GradeCtrl">
    <md-card flex>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Grades</h2>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" data-ng-show="1"></md-progress-linear>

        <md-card-content>
            <p>Student count in each grade</p>

            <!-- Grade inputs -->
            <md-content layout="column">

                <!-- 1.x grades -->
                <md-content layout="row">

                    <!-- 1.0 -->
                    <md-input-container flex>
                        <label>Grade 1.0</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- 1.3 -->
                    <md-input-container flex>
                        <label>Grade 1.3</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- 1.7 -->
                    <md-input-container flex>
                        <label>Grade 1.7</label>
                        <input ng-model="user.address">
                    </md-input-container>

                </md-content>

                <!-- 2.x grades -->
                <md-content layout="row">

                    <!-- 2.0 -->
                    <md-input-container flex>
                        <label>Grade 2.0</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- 2.3 -->
                    <md-input-container flex>
                        <label>Grade 2.3</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- 2.7 -->
                    <md-input-container flex>
                        <label>Grade 2.7</label>
                        <input ng-model="user.address">
                    </md-input-container>

                </md-content>

                <!-- 3.x grades -->
                <md-content layout="row">

                    <!-- 3.0 -->
                    <md-input-container flex>
                        <label>Grade 3.0</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- 3.3 -->
                    <md-input-container flex>
                        <label>Grade 3.3</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- 3.7 -->
                    <md-input-container flex>
                        <label>Grade 3.7</label>
                        <input ng-model="user.address">
                    </md-input-container>

                </md-content>

                <!-- 4.0, 5.0 & others grades -->
                <md-content layout="row">

                    <!-- 4.0 -->
                    <md-input-container flex>
                        <label>Grade 4.0</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- 5.0 -->
                    <md-input-container flex>
                        <label>Grade 5.0</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <!-- Others -->
                    <md-input-container flex>
                        <label>Others</label>
                        <input ng-model="user.address">
                    </md-input-container>

                </md-content>


            </md-content>

        </md-card-content>


        <!-- Action -->
        <div class="md-actions" layout="row" flex>
            <p flex layout-align="left">Result</p>
            <md-button>Add Grades</md-button>
        </div>

    </md-card>
</div>