<div  ng-controller="TeacherCtrl">
    <md-card flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Professor</h2>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" data-ng-show="1"></md-progress-linear>

        <md-card-content layout-margin>

            <!-- name -->
            <md-autocomplete flex required
                      md-input-name="autocompleteField"
                      md-input-minlength="2"
                      md-input-maxlength="18"
                      md-no-cache="ctrl.noCache"
                      md-selected-item="ctrl.selectedItem"
                      md-search-text="ctrl.searchText"
                      md-items="item in ctrl.querySearch(ctrl.searchText)"
                      md-item-text="item.display"
                      md-floating-label="Professor name">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-item-template>
                <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                    <div ng-message="required">You <b>must</b> have a favorite state.</div>
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                </div>
            </md-autocomplete>

            <!-- website -->
            <md-input-container flex>
                <label>Website</label>
                <input ng-model="user.address">
            </md-input-container>

            <!-- Action -->
            <div class="md-actions" layout="row" flex>
                <p flex layout-align="left">Result</p>
                <md-button>Add Professor</md-button>
            </div>

        </md-card-content>
    </md-card>
</div>