<div  ng-controller="TeacherCtrl">
    <md-card flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Professor</h2>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" data-ng-show="addingTeacher"></md-progress-linear>

        <md-card-content layout-margin>

            <!-- name -->
            <md-autocomplete flex required
                      md-input-name="teacherName"
                      md-no-cache="1"
                      md-input-minlength="2"
                      md-selected-item="selectedItem"
                      md-search-text="searchText"
                      md-items="teacher in searchTeacher(searchText)"
                      md-item-text="teacher.name"
                      md-floating-label="Professor name"
                      ng-disabled="addingTeacher">
                <md-item-template>
                    <span md-highlight-text="searchText">{{teacher.name}}</span>
                </md-item-template>
            </md-autocomplete>

            <!-- website -->
            <md-input-container flex>
                <label>Website</label>
                <input ng-model="website" ng-required="true" ng-disabled="addingTeacher">
            </md-input-container>

            <!-- Action -->
            <div class="md-actions" layout="row" flex>
                <p flex layout-align="left" class="errorMsg">{{message.error}}</p>
                <p flex layout-align="left" class="successMsg">{{message.success}}</p>
                <md-button ng-click="addTeacher()">Add Professor</md-button>
            </div>

        </md-card-content>
    </md-card>
</div>