
<md-card flex ng-repeat="grade in grades">
    <md-card-content layout-margin layout="row" layout-align="space-around" layout-wrap>

        <!-- Grades Table -->
        <div flex="20" flex-sm="80">
            <md-data-table-toolbar>
                <h2 class="md-title">Grading stats</h2>
            </md-data-table-toolbar>

            <md-data-table-container>
                <table md-data-table>
                    <thead>
                    <tr>
                        <th name="Grade"></th>
                        <th numeric name="Count"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in grade.table">
                        <td>{{ item.display }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </div>

        <!-- Grades graph -->
        <div flex="70" flex-sm="100">
            <md-data-table-toolbar>
                <h2 class="md-title">Grading graph</h2>
            </md-data-table-toolbar>
            <canvas id="line" class="chart chart-line" data="getData(grade)" flex
                    labels="getLabel(grade)" legend="false">
            </canvas>
        </div>
    </md-card-content>
</md-card>