<b>{{ grades.length }} course{{(grades.length > 1)?'s':''}} found</b>
<md-card flex ng-repeat="grade in grades">
    <md-toolbar md-tall md-accent>
        <div layout-wrap layout-align="space-around" layout="row">
            <div layout-align="center center" layout="row">
                <md-icon md-svg-src="img/book.svg" class="grade-card-icon"></md-icon>
                <p>{{grade.original.coursename}}</p>
            </div>
            <div layout-align="center center" layout="row">
                <md-icon md-svg-src="img/clock.svg" class="grade-card-icon"></md-icon>
                <p>{{grade.original.courseyear}}, {{(grade.original.coursesem=="1")?'Summer':'Winter'}}</p>
            </div>
            <div layout-align="center center" layout="row">
                <md-icon md-svg-src="img/account.svg" class="grade-card-icon"></md-icon>
                <p>{{grade.original.teachername}}</p>
            </div>
        </div>
    </md-toolbar>

    <md-card-content layout-margin layout="row" layout-align="space-around" layout-wrap>

        <!-- Grades Table -->
        <div flex="25" flex-sm="100">
            <md-data-table-toolbar>
                <h2 class="md-title">Grading chart</h2>
            </md-data-table-toolbar>

            <md-data-table-container>
                <table md-data-table>
                    <thead>
                    <tr>
                        <th name="Grade"></th>
                        <th numeric name="Count"></th>
                        <th numeric name="Percent"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in grade.table" layout-margin>
                        <td>{{ item.display }}</td>
                        <td>{{ item.value }}</td>
                        <td>{{ stats.percent(item.value, grade) }}%</td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </div>

        <!-- Grades graph -->
        <div flex="65" flex-sm="100">
            <md-data-table-toolbar>
                <h2 class="md-title">Grading stats</h2>
            </md-data-table-toolbar>
            <div layout-align="left center" layout="column" flex offset="5" class="grade-stats">
                <div flex layout="row" layout-margin>
                    <p flex="40">Average grade: {{stats.mean(grade)}} </p>
                    <p flex="40">Failure rate : {{stats.failRate(grade)}}% </p>
                </div>
                <!--
                <div flex layout="row">
                    <p flex>1.0 - 1.7 : {{stats.oneToTwo(grade)}}%</p>
                    <p flex>2.0 - 2.7 : {{stats.twoToThree(grade)}}%</p>
                </div>
                <div flex layout="row">
                    <p flex>3.0 - 3.7 : {{stats.threeToFour(grade)}}%</p>
                    <p flex>4.0 & 5.0 : {{stats.fourToFive(grade)}}%</p>
                </div>-->
            </div>
            <md-data-table-toolbar>
                <h2 class="md-title">Grading graph</h2>
            </md-data-table-toolbar>
            <canvas id="line" class="chart chart-line" data="graph.getData(grade)" flex  flex offset="5"
                    labels="graph.labels" legend="false">
            </canvas>
        </div>
    </md-card-content>
</md-card>