
<div class="col-md-6 col-md-offset-3">
<div class="span6" style=" padding-top:100px;">
  <input type="text" class="form-control  input-lg" ng-model="searchQuery"  ng-focus="searchCourse()" placeholder="Search for course">
</div>
</div>

<div class="container" >
  <div ng-show="(searchQuery.length)!=0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Course Id</th>
          <th>Name</th>
          <th>teacher Id</th>
          <th>Year</th>
          <th>Semester</th>
          <th>Addedby</th>
          <th>tucan_offeringid</th>
        </tr>
      </thead>
      <div >
        <tbody>
          <tr ng-repeat="course in courseobj | filter:searchQuery">
            <td>{{course.courseid}}</td>
            <td>{{course.name}}</td>
            <td>{{course.teacherid}}</td>
            <td>{{course.year}}</td>
            <td>{{course.semester}}</td>
            <td>{{course.semester}}</td>
            <td>{{course.tucan_offeringid}}</td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
</div>

