<div layout="row" layout-align="center center" layout-margin>
    <md-card flex-gt-md="60" flex-md="100" flex-sm="100">
        <md-toolbar>
            <div class="md-toolbar-tools" layout-align="center center">
                <h2>Add grades</h2>
            </div>
        </md-toolbar>

        <md-progress-linear md-mode="indeterminate" data-ng-show="addingGrade"></md-progress-linear>


        <md-content layout="column" class="input-icons" layout-margin layout-padding>
            <span layout-margin data-ng-show="!addingGrade && (message.error || message.success)">
                <p class="errorMsg" data-ng-show="message.error">{{registerError}}</p>
                <p class="successMsg" data-ng-show="message.success">{{registerMsg}}</p>
            </span>

            <!-- A toggle between automatic and manual modes -->
            <div layout="row" layout-align="center center">
                <span>Manual</span>
                <md-switch ng-model="mode"  aria-label="Data mode"></md-switch>
                <span>Automatic</span>
            </div>

            <!-- Manual mode : no additional fields needed -->

            <!-- Automatic mode : An extra box to paste data in -->
            <div data-ng-show="mode" layout-align="center center" layout-margin>
                <h3>Instructions</h3>
                <ol class="md-body-1">
                    <li>Goto TUCaN --> Examinations --> Semester results --> Examination results</li>
                    <li>Click <b><u>Ø</u></b> at the right corner of any course</li>
                    <li>In the popup : Press <b class="highlight">CTRL+A</b>, then <b class="highlight">CTRL+C</b></li>
                    <li><b class="highlight">CTRL+V</b> in below text field</li>
                </ol>

                <md-input-container class="md-block">
                    <label>Paste TUCaN text here</label>
                    <textarea data-ng-model="clipboard" md-maxlength="1000" rows="4" md-select-on-focus></textarea>
                </md-input-container>

                <div layout="column" layout-align="center center" >
                    <md-button class="md-raised md-primary" ng-click="parseData(clipboard)">Extract</md-button>
                </div>

            </div>

            <!-- Common : Fields common to both modes - editable in manual, disabled otherwise -->
            <!--TODO : Make all input fields here autocomplete -->
            <div data-ng-show="showfields || !mode">
                <!-- Course Title -->
                <md-input-container >
                    <md-icon md-svg-src="img/book-plus.svg" class="email"></md-icon>
                    <input data-ng-model="grade.course" type="text" placeholder="Course title"
                           ng-required="true" ng-readonly="mode">
                </md-input-container>

                <!-- Semester -->
                <md-input-container >
                    <md-icon md-svg-src="img/calendar.svg" class="email"></md-icon>
                    <input data-ng-model="grade.sem" type="text" placeholder="Semester"
                           ng-required="true" ng-readonly="mode">
                </md-input-container>

                <!-- Professor -->
                <md-input-container >
                    <md-icon md-svg-src="img/account-circle.svg" class="email"></md-icon>
                    <input data-ng-model="grade.prof" type="text" placeholder="Professor"
                    >
                </md-input-container>

                <!-- Grades -->
                <md-content layout="row" layout-wrap>
                    <div flex="33" ng-repeat="grade in grades">
                        <md-input-container flex>
                            <label>{{grade.display}}</label>
                            <input data-ng-model="grade.value" ng-readonly="mode">
                        </md-input-container>
                    </div>
                </md-content>

                <!-- Add button -->
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="addGrades()">Add grades</md-button>

                </div>
            </div>


        </md-content>
    </md-card>
</div>