<div layout="row" layout-align="center center" layout-margin>
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools" layout-align="center center">
                <h2>Add review</h2>
            </div>
        </md-toolbar>

        <md-progress-linear md-mode="indeterminate" data-ng-show="adding"></md-progress-linear>


        <md-content layout="column" class="input-icons" layout-margin layout-padding>
            <p flex class="errorMsg" data-ng-show="!adding && addError">{{addError}}</p>
            <p flex class="successMsg" data-ng-show="!adding && addSuccess">{{addSuccess}}</p>

            <!-- Course level -->
            <div layout="row" layout-margin layout-align="center center">
                <span class="rating-param">Course level </span>
                <span class="rating-star">
                    <i class="fa star {{ params.getClass($index, courseLevel.selected) }}"
                       ng-repeat="star in params.stars"
                       ng-click="courseLevel.select($index)"></i>
                </span>
                <span class="rating-helper"> {{ params.getHint(courseLevel.selected) }}</span>
            </div>

            <!-- Exam level -->
            <div layout="row" layout-margin layout-align="center center">
                <span class="rating-param">Exam paper </span>
                <span class="rating-star">
                    <i class="fa star {{ params.getClass($index, examLevel.selected) }}"
                       ng-repeat="star in params.stars"
                       ng-click="examLevel.select($index)"></i>
                </span>
                <span class="rating-helper"> {{ params.getHint(examLevel.selected) }}</span>
            </div>

            <!-- Review level -->
            <div layout="row" layout-margin layout-align="center center">
                <span class="rating-param">Exam review </span>
                <span class="rating-star">
                    <i class="fa star {{ params.getClass($index, reviewLevel.selected) }}"
                       ng-repeat="star in params.stars"
                       ng-click="reviewLevel.select($index)"></i>
                </span>
                <span class="rating-helper"> {{ params.getHint(reviewLevel.selected) }}</span>
            </div>

            <md-input-container>
                <label>Few words to help others</label>
                <textarea ng-model="reviewText" columns="1" md-maxlength="500"></textarea>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button>

        </md-content>
    </md-card>
</div>