.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}
.default-page-icon{
    height: 8em;
    width: 8em;
}
.default-page-text{
    font-size: 2em;
    color: grey;
}
.default-page-text .highlight1{
    color: #2196F3;
    font-weight: 500;
}
.default-page-text .highlight2{
    color: #FE5621;
    font-weight: 500;
}
.grade-stats{
    font-size: 14px;
}
.grade-card-icon{
    padding-right: 5px;
}
.autocomplete-template .item-metadata {
    color: #808080;
}
.footer{
    position: relative;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
}
.footer a {
    color: #4078c0;
    text-decoration: none;
    padding-left: 40px;
}
.footer a:hover, a:active {
    text-decoration: underline;
}
.author a{
    color: #767676;
    text-decoration: none;
    padding-left: 5px;
}