.title-logo{
    margin: 8px;
}
.loginToggle-btn{
    min-width: 100px !important;
}
.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}
.default-page-icon{
    height: 8em;
    width: 8em;
}
.default-page-text{
    font-size: 2em;
    color: grey;
}
.highlight1{
    color: #2196F3;
    font-weight: 500;
}
.highlight2{
    color: #FE5621;
    font-weight: 500;
}
.highlight3{
    color: #4078c0;
    font-weight: 500;
}
.grade-stats{
    font-size: 14px;
}
.grade-card-icon{
    padding-right: 5px;
}
.autocomplete-template .item-metadata {
    color: #808080;
}
.footer{
    position: relative;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
}
.footer a {
    color: #4078c0;
    text-decoration: none;
    padding-left: 40px;
}
.footer a:hover, a:active {
    text-decoration: underline;
}
.author a{
    color: #767676;
    text-decoration: none;
    padding-left: 5px;
}
.input-icons md-input-container.md-input-invalid > md-icon.fullname,
.input-icons md-input-container.md-input-invalid > md-icon.email,
.input-icons md-input-container.md-input-invalid > md-icon.password,
.input-icons md-input-container.md-input-invalid > md-icon.repassword {
    color: red;
}
.errorMsg{
    color:red;
    text-align: center;
}
.successMsg{
    color:green;
    text-align: center;
}
.rating-param{
    width: 100px;
}
.rating-star{
    font-size: 1.5em !important;
    color: grey;
}
.rating-helper{
    margin-left: 10px;
    color: grey;
    font-size: 0.75em;
    width: 70px;
}
.star{
    margin-right: 5px;
    outline: rgb(245, 245, 245) solid 0px;
}
.star-1{
    color: #FF0000;
}
.star-2{
    color: #FA6600;
}
.star-3{
    color: #FEC006;
}
.star-4{
    color: #CCDB38;
}
.star-5{
    color: #4BAE4F;
}
.email{
    font-size: 13px;
}
.user-image{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.user-profile{
    padding: 5px;
}
.contribute-title{
    color: red;
    margin: 15px 12px 10px 15px;
}
.icon{
    margin-right: 5px;
}
.highlight{
    color: #2196F3;
}
.contribute-text{
    font-size: 14px;
    line-height: 1.618em;
    clear: both;
    color: grey
}
.contribute-buttons{
    color: #2196F3;
}
.contribute-hl{
    width: 100%;
    height: 1px;
    background-color: red;
}
table.grade-table {
    border-collapse:collapse;
    border-spacing: 0px;
    padding: 5px;
    text-align: left;
    width:100%;
}
td.grade-td, th.grade-th{
    padding: 12px;
    text-align: center;
    font-size: 13px;
}
th.grade-th{
    background-color: grey;
    color: white;
}
table#grades tr:nth-child(even) {
    background-color: #eee;
    color: rgba(0,0,0,.87);
}
table#grades tr:nth-child(odd) {
    background-color:#fff;
    color: rgba(0,0,0,.87);
}
table#grades tr:hover{
    color: #eeeeee;
    background-color: grey;
}
.grade-overview{
    max-width: 600px;
    max-height: 400px;
}
.grade.chart{
    max-width: 700px;
    max-height: 350px;
}
.grade-toolbar{
    font-size: 14px;
}
.grade-card{
    margin-top: 25px;
}
.review-text{
    margin-top: 24px !important;
    line-height: 1.6em;
}
.quote{
    color: grey;
    font-size: 12px;
    position: relative;
    top: -5px;
}
.review-card{
    margin-top: 20px;
}
.review-username{
    margin-left: 16px !important;
    text-transform: none;
}
.loading-text{
    margin: 20px;
}
.loading-icon{
    margin: 20px;
}
.max-width-500{
    max-width: 500px !important;
}