.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}
.default-page-icon{
    height: 8em;
    width: 8em;
}
.default-page-text{
    font-size: 2em;
    color: grey;
}
.default-page-text .highlight1{
    color: #2196F3;
    font-weight: 500;
}
.default-page-text .highlight2{
    color: #FE5621;
    font-weight: 500;
}
.grade-stats{
    font-size: 14px;
}
.grade-card-icon{
    padding-right: 5px;
}
.autocomplete-template .item-metadata {
    color: #808080;
}
.footer{
    position: relative;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
}
.footer a {
    color: #4078c0;
    text-decoration: none;
    padding-left: 40px;
}
.footer a:hover, a:active {
    text-decoration: underline;
}
.author a{
    color: #767676;
    text-decoration: none;
    padding-left: 5px;
}
.input-icons md-input-container.md-input-invalid > md-icon.fullname,
.input-icons md-input-container.md-input-invalid > md-icon.email,
.input-icons md-input-container.md-input-invalid > md-icon.password,
.input-icons md-input-container.md-input-invalid > md-icon.repassword {
    color: red;
}
.errorMsg{
    color:red;
    text-align: center;
}
.successMsg{
    color:green;
    text-align: center;
}
.rating-param{
    font-weight: 500;
    width: 100px;
}
.rating-star{
    font-size: 1.5em !important;
    color: grey;
}
.rating-helper{
    margin-left: 10px;
    color: grey;
    font-size: 0.75em;
    width: 70px;
}
.star{
    margin-right: 5px;
    outline: rgb(245, 245, 245) solid 0px;
}
.star-1{
    color: #FF0000;
}
.star-2{
    color: #FA6600;
}
.star-3{
    color: #FEC006;
}
.star-4{
    color: #CCDB38;
}
.star-5{
    color: #4BAE4F;
}
.email{
    font-size: 13px;
}
.user-image{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.user-profile{
    padding: 5px;
}